body {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
}

ul {
	list-style-type: circle;
	max-width: 250px;
}

p {
	width: 290px;
}

summary::-webkit-details-marker {
	display: none
}

summary:after {
	background: #1DE9B6;
	border-radius: 5px;
	content: "+";
	color: #fff;
	float: left;
	font-size: 1.3em;
	margin: -5px 10px 0 0;
	padding: 0;
	text-align: center;
	width: 20px;
}

details[open] summary:after {
	content: "-";
}

details {
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
	color: #363636;
	margin: 0 0 .4em;
	padding: 1%;
}